.item img{ width: 250px; }
/*.item img{
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.item p{
	font-size: 15px;
	font-family: Arial;
	color: #652121;
}*/
/*h3{
	text-align: center;
	display: block;
	color: #4d2701;
}*/
/*body{
	background-image: url("../img/mesh.jpg");
}*/
/*<ul class="dogs">
		    ${dogs.map(dog => `<li>${dog.name} is ${dog.desc}</li>`).join('')}
		</ul>

		<ul class="projects list-unstyled">
		    ${projects.map(project => `<li>${project.name}</li><li>${project.desc}</li><li>${project.category}</li>`).join('')}
		</ul>*/
body{
	background-image: url(../img/mesh.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}
.list{
	display: block;
}
.list .item{
	display: flex;
	width: 540px;
	margin: 35px;
}
.list li{
	color: #ef4339;
}
li p{color: #10316b;}
li{
	list-style: none;
}
h2{
	color: #fff;
}
h3{
	display: block;
	color: #4d2701;
}
.navbar{
	margin-bottom: 0px;
}
.overlay{
	position: absolute;
	top: 61px;
	z-index: 1;
	left: 8%;
	background:
	rgba(255,255,255,0.8);
	padding-left: 30px;
	padding-right: 15px;
	border-radius: 5px;
	width: 57%;
	display: block;
}
/* Samll Devices, Mobile */
@media  only screen and (min-width: 320px){
	.list .item{
	display: inline-flex;
	width: 328px;
	margin: 35px;
	background-color:
	rgba(255, 255, 255, 0.46);
	border-radius: 20px;
}
.item div{
	margin: 35px 35px 35px 35px;
}
.overlay h1{
	font-size: 18px;
}
.banner{
	height: 14vh;
}
}
/* Samll Devices, Mobile */
@media only screen and  (min-width: 480px) {
	.list .item{
	display: inline-flex;
	width: 463px;
	margin: 35px;
	background-color:
	rgba(255, 255, 255, 0.46);
	border-radius: 20px;
}
.item div{
	margin: 35px 35px 35px 35px;
}
.overlay h1{
	font-size: 21px;
}
.banner{
	height: 17vh;
}
}
/* Medium Devices, tablet */
@media only screen and  (min-width: 576px) {
	.list .item{
	display: inline-flex;
	width: 536px;
	margin: 35px;
	background-color:
	rgba(255, 255, 255, 0.46);
	border-radius: 20px;
}
.item div{
	margin: 35px 35px 35px 35px;
}
.overlay h1{
	font-size: 28px;
}
.banner{
	height: 20vh;
}
}
/* Medium Devices, Desktops */
@media only screen and  (min-width: 768px) {
	.list .item{
	display: inline-flex;
	width: 536px;
	margin: 35px;
	background-color:
	rgba(255, 255, 255, 0.46);
	border-radius: 20px;
}
.item div{
	margin: 35px 35px 35px 35px;
}
.overlay h1{
	font-size: 30px;
}
.banner{
	height: 27vh;
}
}
/* Medium Devices, Desktops */
@media only screen and  (min-width : 992px) {
		.list .item{
	display: inline-flex;
	width: 536px;
	margin: 35px;
	background-color:
	rgba(255, 255, 255, 0.46);
	border-radius: 20px;
}
.item div{
	margin: 35px 35px 35px 35px;
}
.overlay h1{
	font-size: 36px;
}
.banner{
	height: 35vh;
}
}
/* Large Devices, Wide Screens */
@media only screen and  (min-width : 1200px) {
		.list .item{
	display: inline-flex;
	width: 536px;
	margin: 35px;
	background-color:
	rgba(255, 255, 255, 0.46);
	border-radius: 20px;
}
.item div{
	margin: 35px 35px 35px 35px;
}
.overlay h1{
	font-size: 36px;
}
.banner{
	height: 34vh;
}
}